.searchBox {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
}

.searchBox label, input, button {
    margin: 10px;
}

/* 
.header{
    padding:30px;
    text-align: left;
    background: yellow;
    color: black;
    font-size: 40 px;

}


.divStyle{
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
} */